.ul{
    
    /*display:grid;
    grid-template-columns: auto auto auto auto ;*/
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* retour à ligne */
    justify-content: space-between;
    margin-top: 60px;
    gap:20px;
   
}